# Ignore these specific files
private.xml

# Ignore files with these extensions
*.hex
*.pdf
*.zip

# Ignore these folders:
build/
backup/
debug/
doc/microchip_examples/
dist/
html/
junk/

# Ignore specific file extensions in the specified folders
nbproject/*.mk
nbproject/*.properties